*{
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;  
    
}

.loginui{
    background-color: rgb(236, 250, 242);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    height: 70vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    margin-top: 15vh;
    
}

.leftimage{
    background-color: rgb(236, 250, 242);
    width: 45%;
    height: 100%;
}

.profile{
    background-color: rgb(236, 250, 242);
    height: 35%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profileimage{
    background-color: rgb(236, 250, 242);
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;

}

.loginform{
    background-color: rgb(236, 250, 242);
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logincontainer{
    background-color: rgb(236, 250, 242);
    height: 55%;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: left;
    /* justify-content: center; */
}

.skewBtn{
    background-color: rgb(236, 250, 242);
    margin-top:2rem ;
    width: 4rem;
    height: 2rem;
    outline: none;
    cursor: pointer;
    background: none;
    border-radius: 5px;

    
  }







  
  